<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986942256979-76l2l4pkcuancjcdgb6905o0mah6ehh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986942256979-76l2l4pkcuancjcdgb6905o0mah6ehh8</string>
	<key>API_KEY</key>
	<string>AIzaSyB5ze5GawJ8-tuPOBtmLQAF6bud8KsYkxU</string>
	<key>GCM_SENDER_ID</key>
	<string>986942256979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.esofeventsnativescript</string>
	<key>PROJECT_ID</key>
	<string>esof-events-b9ea5</string>
	<key>STORAGE_BUCKET</key>
	<string>esof-events-b9ea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986942256979:ios:e47967857b2b06c64ed3a6</string>
	<key>DATABASE_URL</key>
	<string>https://esof-events-b9ea5.firebaseio.com</string>
</dict>
</plist>